<% provide(:title, t(".about_title")) %>
<h1><%= t ".title" %></h1>
<p>
  <%= t(".p_the") %>
  <%= link_to t(".about_body"), t(".url") %> <%= t(".p_isa") %>
  <%= link_to t(".p_book"), t(".url_book") %> <%= t(".p_and") %>
  <%= link_to t(".p_long_1"), t(".url_screencast") %>
  <%= t(".p_long_2") %>
  <%= link_to t(".p_long_3"), t(".base_url") %>.
  <%= t(".p_long_4") %>
</p>
