<% provide(:title, t(".help_title")) %>
<h1><%= t ".title" %></h1>
<p>
  <%= t ".help_body1" %>
  <%= link_to t(".title_help"), t(".url_help") %>
  <%= t ".help_body2" %>
  <%= link_to t(".title_book"), t(".url_book") %>
</p>
