<footer class="footer">
  <small>
    The
    <%= link_to t(".title"), t(".url_1") %>
    by
    <%= link_to t(".author"), t(".url_2") %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"),   about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".new"), t(".url_3") %></li>
    </ul>
  </nav>
</footer>
